#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install FF7SYW
Comment=Install Final Fantasy 7 SYW
Exec=konsole -e "bash -c 'chmod +x FF7SYWDeckInstall.sh;./FF7SYWDeckInstall.sh;$SHELL'"
Icon=steam_icon_39140
Terminal=false
Type=Application
Categories=Game;
